---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Workout Quest: Gamified Workout Tracker App',
  ignoreTitleTemplate: true,
  description: 'Track your exercises, earn achievements and level up as you train, at home or at the gym, with Workout Quest. Download the app for free on iOS and Android!',
  robots: {
    index: true,
    follow: true,
  },
  canonical: 'https://www.workoutquestapp.com/',
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Android Play Store',
        href: 'https://play.google.com/store/apps/details?id=fitness.tracker&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1',
        target: '_blank',
        icon: 'tabler:download',
      },
      {
        variant: 'primary',
        text: 'iOS App Store',
        href: 'https://apps.apple.com/au/app/workout-quest-fitness-tracker/id6452191825?ign-itscg=30200&ign-itsct=apps_box_badge',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Level-Up Your Home and Gym Training With <span class="text-accent dark:text-blue-400 highlight"
        >Workout Quest</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      An app that motivates you to work out and achieve your goals, with a fun, gamified approach to fitness. Earn
      achievements and titles, gain experience, and level up each muscle as you progress in your fitness journey.

      <span class="block mt-4 text-sm text-gray-500 dark:text-gray-400">
        Download the app for free on iOS and Android today and start your fitness journey!
      </span>
    </Fragment>
  </Hero>

  <Features
    id="features"
    tagline="Features"
    title="Key Features of Workout Quest"
    items={[
      {
        title: 'Extensive Workout Library',
        description: 'Access a wide range of workouts, complete with clear GIF demonstrations for each exercise.',
        icon: 'tabler:bookmarks',
      },
      {
        title: 'AI-Powered Personalization',
        description: 'Get customized workout plans tailored to your fitness history, goals and available equipment.',
        icon: 'tabler:brain',
      },
      {
        title: 'Connect and Compete',
        description: 'Join your friends, share your progress, and take on challenges with friends.',
        icon: 'tabler:users',
      },
      {
        title: 'Quick and Easy Workout Tracking',
        description:
          'Track your progress efficiently with easy access to previous workouts and estimated 1 rep maxes on the fly.',
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Achievement System',
        description: 'Unlock rewards and celebrate milestones as you progress in your fitness journey.',
        icon: 'tabler:medal',
      },
      {
        title: 'Comprehensive Insights',
        description: 'Stay on-top of your training by utilizing our graphs and streak calendar to track your progress.',
        icon: 'tabler:database',
      },
    ]}
  />

  <Content
    isReversed
    tagline="Your Journey, Your Rules"
    title="Revolutionize Your Workout Routine with Workout Quest"
    image={{
      src: '~/assets/images/ss-building.png',
      alt: 'Workout Quest Home Workouts Screen',
    }}
    items={[
      {
        title: 'Adaptable Home & Gym Workouts',
        description:
          'A dynamic workout platform that adapts to your environment, whether you’re at home or in the gym, Workout Quest helps find and select the exercises that are right for you.',
      },
      {
        title: 'Innovative AI-Driven Customization',
        description:
          'Our cutting-edge AI system creates personalized workout plans, considering your fitness level, goals, and available equipment, ensuring a tailored fitness experience.',
      },
      {
        title: 'Community and Competition',
        description:
          'Engage with your friends, share achievements, and foster a competitive yet supportive environment to reach your goals.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Empower Your Fitness Journey</h3>
       Gamify your workouts with our unique blend of technology and community support. From home-based exercises to gym
      routines, our app guides you every step of the way.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
    stats={[
      { title: 'Workouts Completed', amount: '10,000+' },
      { title: 'Active Users', amount: '5000+' },
      { title: 'Achievements Earned', amount: '2,400+' },
      { title: 'Friends Added', amount: '500+' },
    ]}
  />

  <FAQs
    id="faqs"
    tagline="FAQs"
    title="Frequently Asked Questions"
    items={[
      {
        title: 'How does Workout Quest work?',
        description: 'Workout Quest gamifies your fitness and exercise experience by making it simple and fun to track your workouts: At it\'s core, it allows you to track your workout as you train (or schedule it ahead of time) by picking exercises from a large database and entering information about your reps, sets and weights. When completing workouts, you gain experience, level up, earn achievements and are provided with insights to help you stay on track.',
        icon: 'tabler:info-circle',
      },
      {
        title: 'What makes Workout Quest unique in tracking workouts?',
        description: 'Unlike traditional fitness apps, Workout Quest introduces a gamified approach to keeping fit. With features like AI-powered personalization, an extensive workout library, and a community-driven platform, it transforms routine exercises into a more engaging and motivating experience. By tracking your progress, you unlock achievements, level up, and visualize your fitness journey with comprehensive progress analysis, making every workout session an adventure.',
        icon: 'tabler:star',
      },
      {
        title: 'Can Workout Quest help me create a personalized fitness plan?',
        description: 'Absolutely! Workout Quest premium leverages AI to offer personalized workout plans tailored to your fitness level, goals, and available equipment. By analyzing your performance data and preferences, it suggests workouts that are most effective for you, ensuring you\'re on the right path whether you\'re engaging in home workouts or hitting the gym. This smart customization helps in achieving better results by adapting to your evolving fitness needs.',
        icon: 'tabler:adjustments',
      },
      {
        title: 'How does the achievement system motivate Workout Quest users?',
        description: 'Workout Quest’s achievement system is designed to boost motivation by recognizing your hard work and progress, providing gamification to an otherwise potentially tedious activity. As you complete workouts, hit new personal records, and stick to your fitness regimen, you earn achievements, badges, and levels. This rewarding system not only celebrates your milestones but also encourages a healthy competition and accountability within the Workout Quest community, making fitness more fun and engaging.',
        icon: 'tabler:trophy',
      },
      {
        title: 'Is Workout Quest suitable for beginners?',
        description: 'Yes, Workout Quest is perfectly suited for beginners as well as seasoned fitness enthusiasts. With its extensive database of exercises complete with GIF demonstrations, beginners can easily find and learn new workouts. Additionally, you can filter the list of exercises by muscle-group and equipment required to focus on what you personally need. From yoga, to abs, to strength training, to cardio, and more! Certain exercises are also tagged as "hot" if they are used by a majority of users, so you can easily find popular exercises to get started with.',
        icon: 'tabler:user-plus',
      },
      {
        title: 'How does Workout Quest support community and social features?',
        description: 'Workout Quest goes beyond just tracking workouts by offering a rich community and social experience. You can connect with friends, share your progress, and challenge each other in fitness quests. The app promotes a supportive and motivational environment where users can celebrate achievements together, compare progress, and even participate in community challenges. This social connectivity makes working out more enjoyable and keeps you motivated through shared experiences.',
        icon: 'tabler:users',
      }
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join On Android',
        href: 'https://play.google.com/store/apps/details?id=fitness.tracker&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1',
        target: '_blank',
        icon: 'tabler:download',
      },
      {
        variant: 'primary',
        text: 'Join On iOS',
        href: 'https://apps.apple.com/us/app/workout-quest-fitness-tracker/id6452191825?ign-itscg=30200&ign-itsct=apps_box_badge',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Join the <span class="sm:whitespace-nowrap">Fitness Revolution</span>
    </Fragment>

    <Fragment slot="subtitle">
      Don't just work out, embark on a quest! Transform your workouts into a thrilling journey with Workout Quest, the gamified workout tracker.
    </Fragment>
  </CallToAction>
</Layout>
